body{
  margin: 0;
  padding: 0;
}

a, a:link, a:visited{
  text-decoration: none;
}
.button {
  border: none;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Rajdhani', sans-serif;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("tango.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  /* display: flex; */
}

.header-text {
  display: flex;
  height: 100vh;
}

.text-content-mid {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-content {
  height: 100vh;
  width: 100%;
  /* margin-top: 10%; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
.text-content52 h1 {
  font-size: 5em;
  background-color: rgba(236, 91, 18, 0.5);
  padding: 15px;
}
.text-content52 h2 {
  font-size: 2em;
  /* background-color: rgba(236, 91, 18, 0.5); */
}

.navbar{
  position: fixed;
  top: 0px;
  width: 60%;
  height: 60px;
  display: flex;
  background-color: #fff;
  z-index: 1;
  margin-left: 20%;
  text-align: center;
  justify-content: space-between;
  background-color: rgba(236, 91, 18, 0.5);
}

.logo{
  width: 20%;
  height: 100%;
}

.logo img{
  height: 100%;
  width: 100%;
  top:0;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2%;
  width: 80%;
}

.nav-links ul li{
  display: inline;
  list-style: none;
  padding-left: 1em;
}
.nav-links a {
  color: rgba(18, 236, 200);
  font-size: 1.2em;
}

.content{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  background-color: white;
}
.box{
  width: 28%;
  padding: 13px;
}
#news ol li{
  margin-bottom: 5%;
}
#news ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

#news li {
  padding-left: 1em;
  text-indent: -.7em;
}

#news li:before {
  content: "• ";
  color: red; /* or whatever color you prefer */
}
.login{
  background-color: rgba(236, 91, 18, 0.5);
  border: none;
  color: rgba(18, 236, 200);
  font-family: 'Rajdhani';
  font-size: 1.2em;
}

footer{
  width: 100vw;
  height: 20vh;
  border-top: 2px dashed lightgrey;
}
.today-sch {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
